In [35]:
import streamlit as st
import numpy as np
import pandas as pd
from PIL import Image
import gspread
import json
import pandas as pd
#ServiceAccountCredentials：Googleの各サービスへアクセスできるservice変数を生成します。
from oauth2client.service_account import ServiceAccountCredentials

#2つのAPIを記述しないとリフレッシュトークンを3600秒毎に発行し続けなければならない
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
json_path = 'kitaichi-fd2dd716665b.json'
#認証情報設定
#ダウンロードしたjsonファイル名をクレデンシャル変数に設定（秘密鍵、Pythonファイルから読み込みしやすい位置に置く）
credentials = ServiceAccountCredentials.from_json_keyfile_name(json_path, scope)
#OAuth2の資格情報を使用してGoogle APIにログインします。
gc = gspread.authorize(credentials)
# １．ファイル名を指定してワークブックを選択
workbook = gc.open('収支表')
sh_shop = workbook.worksheet('店一覧')
sh_slot_kisyu = workbook.worksheet('スロット機種一覧')
df_shop = pd.DataFrame(sh_shop.get_all_values()[1:], columns=sh_shop.get_all_values()[0])
df_slot_kisyu = pd.DataFrame(sh_slot_kisyu.get_all_values()[1:], columns=sh_slot_kisyu.get_all_values()[0])
sh = workbook.worksheet('収支')
df = pd.DataFrame(sh.get_all_values()[1:], columns=sh.get_all_values()[0])

In [39]:
df.tail(1)

,年月日,開始時間,終了時間,店舗名,台番号,機種名,開始G数,当選G数,ヤメG数,投資金額,投資メダル枚数,回収金額,回収メダル枚数,期待値,収支金額,収支メダル枚数,備考
26,2022-12-02,10:54:38,,ガイア小郡,1300,ヴァルヴレイヴ,856,1400,0,20680,1034,25000,1300,2700,,,

In [40]:
int(df.at[26,'投資金額'])
int(df.at[26,'投資メダル枚数'])

1034

In [41]:
df_shop

       店番号         店名 交換率  換金率 貯メダル数   現金換算
0  shop_01  ダイナム宇部港町店  90  100  1400  14000
1  shop_02    ダイナム小郡店  46   53  1450  27358
2  shop_03   メガガイア小郡店  46   52   600  11538
3  shop_04  RITZ 新山口店  50   56   100   1786
4  shop_05   ダイナム阿知須店  46   53     0      0
5  shop_06    テキサス山口店  50   56     0      0
6  shop_07     ピー・パーク  50   56     0      0
7  shop_08     ＶＩＰ山口店  47   53     0      0
8  shop_09  プレイランドエイト  47   53     0      0

In [43]:
tuple(df_shop['店名'])

('ダイナム宇部港町店',
 'ダイナム小郡店',
 'メガガイア小郡店',
 'RITZ 新山口店',
 'ダイナム阿知須店',
 'テキサス山口店',
 'ピー・パーク',
 'ＶＩＰ山口店',
 'プレイランドエイト')