In [17]:
import streamlit as st
import numpy as np
import pandas as pd
from PIL import Image
import gspread
import json
import pandas as pd
#ServiceAccountCredentials：Googleの各サービスへアクセスできるservice変数を生成します。
from oauth2client.service_account import ServiceAccountCredentials

#2つのAPIを記述しないとリフレッシュトークンを3600秒毎に発行し続けなければならない
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
json_path = 'kitaichi-fd2dd716665b.json'
#認証情報設定
#ダウンロードしたjsonファイル名をクレデンシャル変数に設定（秘密鍵、Pythonファイルから読み込みしやすい位置に置く）
credentials = ServiceAccountCredentials.from_json_keyfile_name(json_path, scope)
#OAuth2の資格情報を使用してGoogle APIにログインします。
gc = gspread.authorize(credentials)
# １．ファイル名を指定してワークブックを選択
workbook = gc.open('収支表')
sh_secchi = workbook.worksheet('設置一覧')
sh_shop = workbook.worksheet('店一覧')
sh_slot_kisyu = workbook.worksheet('スロット機種一覧')
df_secchi = pd.DataFrame(sh_secchi.get_all_values()[1:], columns=sh_secchi.get_all_values()[0])
df_shop = pd.DataFrame(sh_shop.get_all_values()[1:], columns=sh_shop.get_all_values()[0])
df_slot_kisyu = pd.DataFrame(sh_slot_kisyu.get_all_values()[1:], columns=sh_slot_kisyu.get_all_values()[0])

In [18]:
df_secchi

         店番号  台番号    機種番号
0    shop_01    1  s_0001
1    shop_01    2  s_0002
2    shop_01    3  s_0003
3    shop_01    4  s_0004
4    shop_01    5  s_0005
..       ...  ...     ...
195  shop_01  236  s_0092
196  shop_01  237  s_0093
197  shop_01  238  s_0094
198  shop_01  239  s_0095
199  shop_01  240  s_0096

[200 rows x 3 columns]

In [6]:
list(df_secchi['店番号'])

['shop_01']

In [9]:
list(df_secchi['店名'])

['ダイナム宇部港町店']

In [14]:
target_shop_name = 'ダイナム宇部港町店'
list(df_secchi['店番号'])[(list(df_secchi['店名']).index(target_shop_name))]

'shop_01'

In [13]:
target_shop_name = 'ダイナム宇部港町店'
list(df_secchi['店名']).index(target_shop_name)

0

In [15]:
df_slot_kisyu.head()

,機種番号,機種名,型名,メーカー,タイプ,コイン持ち,天井,純増,リセット恩恵,リセット判別,やめ時
0,s_0001,CREA Newクレアの秘宝伝,Ｓ ＣＲＥＡ～クレアの秘宝～Ａ２,大都技研,A,39,なし,なし,なし,,
1,s_0002,もっと!クレアの秘宝伝 女神の歌声と太陽の子供達,Ｓもっと！クレアの秘宝伝ＰＡ２,パオン・ディーピー,A+RT,39,なし,なし,なし,,
2,s_0003,CCエンジェル,Ｓ／ＣＣエンジェル／ＣＡ,メーシー,A+RT,42,なし,0.2,なし,,
3,s_0004,Re:ゼロから始める異世界生活Apex Vacation,ＳリゼロＡｐｅｘＶ Ａ６,サボハニ,A+AT,40,なし,なし,なし,,
4,s_0005,ケロット4,Ｓケロット４ＣＣ,セブンリーグ,A,40,なし,なし,なし,,

In [16]:
df_slot_kisyu[df_slot_kisyu['機種番号'] =='s_0005']

     機種番号    機種名        型名    メーカー タイプ コイン持ち  天井  純増 リセット恩恵 リセット判別 やめ時
4  s_0005  ケロット4  Ｓケロット４ＣＣ  セブンリーグ   A    40  なし  なし     なし

In [24]:
tuple(df_secchi[df_secchi['店番号'] =='shop_01']['台番号'])

('1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '120',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '130',
 '131',
 '132',
 '133',
 '134',
 '135',
 '136',
 '137',
 '138',
 '139',
 '140',
 '141',
 '142',
 '143',
 '144',
 '145',
 '146',
 '147',
 '148',
 '149',
 '150',
 '151',
 '152',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '160',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '174',
 '175',
 '176',
 '177',
 '178',
 '179',
 '180',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '230',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '240')