In [137]:
import gspread
import json
import pandas as pd
#ServiceAccountCredentials：Googleの各サービスへアクセスできるservice変数を生成します。
from oauth2client.service_account import ServiceAccountCredentials
from gspread_dataframe import get_as_dataframe, set_with_dataframe

In [138]:
#2つのAPIを記述しないとリフレッシュトークンを3600秒毎に発行し続けなければならない
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']

In [139]:
json_path = 'E://Patinko//App//kitaichi-fd2dd716665b.json'
#認証情報設定
#ダウンロードしたjsonファイル名をクレデンシャル変数に設定（秘密鍵、Pythonファイルから読み込みしやすい位置に置く）
credentials = ServiceAccountCredentials.from_json_keyfile_name(json_path, scope)

In [140]:
#OAuth2の資格情報を使用してGoogle APIにログインします。
gc = gspread.authorize(credentials)

In [141]:
# １．ファイル名を指定してワークブックを選択
workbook = gc.open('収支表')

In [142]:
# ２．スプレッドシートキーを指定してワークブックを選択（おすすめ）
workbook = gc.open_by_key('1PcydmTfX1EY1g7LtWMwU8_XAPoDoAhfdwRr2JdzRV5M')

In [143]:
# パラメータ
workbook.title	#スプレッドシートのタイトルを取得する

'収支表'

In [144]:
workbook.id		#スプレッドシートキーを取得する

'1PcydmTfX1EY1g7LtWMwU8_XAPoDoAhfdwRr2JdzRV5M'

In [155]:
worksheet = workbook.worksheet('機種_1')

In [156]:
worksheet.get_all_values()

[['開始', '期待値'],
 ['0G', '-476円'],
 ['5G', '-450円'],
 ['10G', '-368円'],
 ['15G', '-270円'],
 ['20G', '-163円'],
 ['25G', '-64円'],
 ['30G', '31円'],
 ['35G', '126円'],
 ['40G', '219円'],
 ['45G', '312円'],
 ['50G', '394円'],
 ['55G', '482円'],
 ['60G', '567円'],
 ['65G', '660円'],
 ['70G', '741円'],
 ['75G', '818円'],
 ['80G', '888円'],
 ['85G', '970円'],
 ['90G', '1048円'],
 ['95G', '1111円'],
 ['100G', '1176円'],
 ['105G', '1238円'],
 ['110G', '1297円'],
 ['115G', '1348円'],
 ['120G', '1367円'],
 ['125G', '1389円'],
 ['130G', '1352円'],
 ['135G', '1282円'],
 ['140G', '1209円'],
 ['145G', '1109円'],
 ['150G', '996円'],
 ['155G', '856円'],
 ['160G', '722円'],
 ['165G', '599円'],
 ['170G', '439円'],
 ['175G', '295円'],
 ['180G', '171円'],
 ['185G', '60円'],
 ['190G', '-72円'],
 ['195G', '-155円'],
 ['200G', '-206円'],
 ['205G', '-254円'],
 ['210G', '-308円'],
 ['215G', '-370円'],
 ['220G', '-400円'],
 ['225G', '-432円'],
 ['230G', '-426円'],
 ['235G', '-444円'],
 ['240G', '-428円'],
 ['245G', '-414円'],
 ['250G', '-382円'],
 ['255G', '-353円'],
 ['260G', '-323円'],
 ['265G', '-285円'],
 ['270G', '-240円'],
 ['275G', '-197円'],
 ['280G', '-159円'],
 ['285G', '-111円'],
 ['290G', '-63円'],
 ['295G', '-15円'],
 ['300G', '43円'],
 ['305G', '113円'],
 ['310G', '157円'],
 ['315G', '202円'],
 ['320G', '264円'],
 ['325G', '331円'],
 ['330G', '388円'],
 ['335G', '455円'],
 ['340G', '527円'],
 ['345G', '596円'],
 ['350G', '658円'],
 ['355G', '746円'],
 ['360G', '815円'],
 ['365G', '895円'],
 ['370G', '967円'],
 ['375G', '1055円'],
 ['380G', '1130円'],
 ['385G', '1217円'],
 ['390G', '1289円'],
 ['395G', '1381円'],
 ['400G', '1456円'],
 ['405G', '1550円'],
 ['410G', '1631円'],
 ['415G', '1733円'],
 ['420G', '1829円'],
 ['425G', '1941円'],
 ['430G', '2034円'],
 ['435G', '2128円'],
 ['440G', '2226円'],
 ['445G', '2329円'],
 ['450G', '2442円'],
 ['455G', '2554円'],
 ['460G', '2655円'],
 ['465G', '2762円'],
 ['470G', '2880円'],
 ['475G', '2994円'],
 ['480G', '3119円'],
 ['485G', '3254円'],
 ['490G', '3359円'],
 ['495G', '3490円'],
 ['500G', '3625円'],
 ['505G', '3765円'],
 ['510G', '3899円'],
 ['515G', '4002円'],
 ['520G', '4142円'],
 ['525G', '4279円'],
 ['530G', '4388円'],
 ['535G', '4509円'],
 ['540G', '4659円'],
 ['545G', '4807円'],
 ['550G', '4974円'],
 ['555G', '5126円'],
 ['560G', '5288円'],
 ['565G', '5438円'],
 ['570G', '5576円'],
 ['575G', '5714円'],
 ['580G', '5851円'],
 ['585G', '5989円'],
 ['590G', '6127円'],
 ['595G', '6264円']]

In [147]:
values = worksheet.get_all_values()[1:]

In [159]:
df = pd.DataFrame(range(596),columns=['開始']).set_index('開始')

In [152]:
df = pd.DataFrame(worksheet.get_all_values()[1:], columns=worksheet.get_all_values()[0]).set_index('開始')

In [157]:
values = worksheet.get_all_values()[1:]
int_values = []
for x in values:
    if not x[1] == '':
        value = [int(x[0].replace('G','')),int(x[1].replace(',','').replace('円',''))]
        int_values.append(value)

In [158]:
df2 = pd.DataFrame(int_values, columns=worksheet.get_all_values()[0]).set_index('開始')

In [153]:
df

      期待値
開始
0    -476
1
2
3
4
..    ...
591
592
593
594
595  6264

[596 rows x 1 columns]

In [160]:
per_df = df.join(df2,how='outer')

In [164]:
per_df = per_df.interpolate()

In [172]:
set_with_dataframe(worksheet, per_df.reset_index())

In [76]:
x=[]
all = worksheet.get_all_values()[1:]
for f in all:
    y=[]
    for k in f:
        y.append(int(k.replace(',','')))
    x.append(y)

In [70]:
worksheet.get_all_values()[0]

['開始', '期待値']

In [77]:
x

[[0, -476],
 [5, -450],
 [10, -368],
 [15, -270],
 [20, -163],
 [25, -64],
 [30, 31],
 [35, 126],
 [40, 219],
 [45, 312],
 [50, 394],
 [55, 482],
 [60, 567],
 [65, 660],
 [70, 741],
 [75, 818],
 [80, 888],
 [85, 970],
 [90, 1048],
 [95, 1111],
 [100, 1176],
 [105, 1238],
 [110, 1297],
 [115, 1348],
 [120, 1367],
 [125, 1389],
 [130, 1352],
 [135, 1282],
 [140, 1209],
 [145, 1109],
 [150, 996],
 [155, 856],
 [160, 722],
 [165, 599],
 [170, 439],
 [175, 295],
 [180, 171],
 [185, 60],
 [190, -72],
 [195, -155],
 [200, -206],
 [205, -254],
 [210, -308],
 [215, -370],
 [220, -400],
 [225, -432],
 [230, -426],
 [235, -444],
 [240, -428],
 [245, -414],
 [250, -382],
 [255, -353],
 [260, -323],
 [265, -285],
 [270, -240],
 [275, -197],
 [280, -159],
 [285, -111],
 [290, -63],
 [295, -15],
 [300, 43],
 [305, 113],
 [310, 157],
 [315, 202],
 [320, 264],
 [325, 331],
 [330, 388],
 [335, 455],
 [340, 527],
 [345, 596],
 [350, 658],
 [355, 746],
 [360, 815],
 [365, 895],
 [370, 967],
 [375, 1055],
 [380, 1130],
 [385, 1217],
 [390, 1289],
 [395, 1381],
 [400, 1456],
 [405, 1550],
 [410, 1631],
 [415, 1733],
 [420, 1829],
 [425, 1941],
 [430, 2034],
 [435, 2128],
 [440, 2226],
 [445, 2329],
 [450, 2442],
 [455, 2554],
 [460, 2655],
 [465, 2762],
 [470, 2880],
 [475, 2994],
 [480, 3119],
 [485, 3254],
 [490, 3359],
 [495, 3490],
 [500, 3625],
 [505, 3765],
 [510, 3899],
 [515, 4002],
 [520, 4142],
 [525, 4279],
 [530, 4388],
 [535, 4509],
 [540, 4659],
 [545, 4807],
 [550, 4974],
 [555, 5126],
 [560, 5288],
 [565, 5438],
 [570, 5576],
 [575, 5714],
 [580, 5851],
 [585, 5989],
 [590, 6127],
 [595, 6264]]

In [37]:
from gspread_dataframe import set_with_dataframe

In [38]:
workbook.add_worksheet(title='会社別売上', rows=50, cols=10)

In [64]:
df2 = pd.DataFrame(list(range(0,599)),columns=['開始']).set_index('開始')

In [66]:
df.append(df2)

      期待値
開始
0    -476
5    -450
10   -368
15   -270
20   -163
..    ...
594   NaN
595   NaN
596   NaN
597   NaN
598   NaN

[719 rows x 1 columns]

In [79]:
pd.DataFrame(x,columns=worksheet.get_all_values()[0])

      開始   期待値
0      0  -476
1      5  -450
2     10  -368
3     15  -270
4     20  -163
..   ...   ...
115  575  5714
116  580  5851
117  585  5989
118  590  6127
119  595  6264

[120 rows x 2 columns]

In [168]:
xs=[]
for x in list(per_df['期待値']):
    xs.append(int(x))

In [170]:
per_df['期待値']=xs

In [171]:
per_df

      期待値
開始
0    -476
1    -470
2    -465
3    -460
4    -455
..    ...
591  6154
592  6181
593  6209
594  6236
595  6264

[596 rows x 1 columns]

In [178]:
number = 151
for i in range(len(list(per_df.index))):
    if list(per_df.index)[i] == number:
        print(i)

151

In [183]:
per_df.iloc[151,0]

968